:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-family: "Inter", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 200px;
  padding: 16px 48px;
  width: 173px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  background-color: var(--button);
  transition: background-color 0.3s ease;
}

.button:hover{
  background-color: var(--button-hover);
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

