.catalogPage{
  width: 100%;
  padding: 0 64px; 
  display: flex;
  align-items: center;
}

.catalogContainer{
  max-width: 1440px; 
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 64px;
  
}

.sidebar{
  display: flex;
  flex-direction: column;
  padding-top: 51px;

}

.catalogContent{
  display: flex;
  flex-direction: column;
  gap: 32px;
}